/*menú de navegación*/

.menu-container {
    width: 76%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item {
    margin: 0px 10px;
}

.home {
    padding: 15px 10px 15px 10px;
}

.navbar {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(187, 175, 142) 70%); 
}