/* estilos y grid para index*/
@import "../base/mixins";

.obra-index {
    @include obraindex(220px, 3px 20px, 220px, drop-shadow(4px 4px 4px rgb(114, 114, 114)), 10px);

    &:hover {
        transform: scale(0.9);
        transition: .5s ease-in-out;
    }
}



.index-grid {
    width: 80%;
    margin: 20px auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
}