

@mixin obraindex($ancho, $margen, $altura, $sombra, $borde) {
    max-width: $ancho;
    margin: $margen;
    max-height: $altura;
    filter: $sombra;
    border-radius: $borde;
}

.obra-index {
    max-width: 220px;
    margin: 3px 20px;
    max-height: 220px;
    filter: drop-shadow(4px 4px 4px #727272);
    border-radius: 10px;
}


